.title {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #2f74c0;
  text-decoration: underline;
  text-align: center;
}

.list-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  list-style-type: none;
}

.input {
  display: flex;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.input__box {
  width: 100%;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: 0px 9px 12px -1px rgba(144, 144, 144, 0.56);
  box-shadow: inset;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 70px;
  height: 50px;
  margin: 12px;
  border-radius: 5px;
  right: 0px;
  border: none;
  font-size: 25px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  font-weight: 400;
}

.input_submit:hover {
  background-color: #388ae2;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  width: 80%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todo-lists {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.todo-list {
  display: flex;
}

.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #D9E1E8;
  color: black;
}

.todos__heading {
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px solid gray;
  text-align: center;
  color: rgba(0, 0, 0, 0.687);
}

.todos__single {
  display: flex;
  border-radius: 5px;
  max-width: 270px;
  padding: 20px;
  margin: 15px;
  background-color: aliceblue;
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
}

.todos__single--text {
  word-wrap: break-word;
  word-break: break-all;
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.687);
}

.edit-icon, .delete-icon {
  transition: 0.3s color;
}

.edit-icon:hover {
  color: #2f74c0;
}

.delete-icon:hover {
  color: red
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 70%;
  }

  .container {
    width: 70%;
    flex-direction: column;
  }

  .todos {
    width: 70%;
    margin-bottom: 10px;
  }
}

.overflow {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 250px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}